<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Start</th>
    <th scope="col"></th>
    <th scope="col">Koniec</th>
    <th scope="col"></th>
    <th scope="col">Linia</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of flights | async; index as i">
    <th scope="row">{{i+1}}</th>
    <td [ngStyle]="f.startAirport.user.username == user? {'text-decoration': 'underline'}: {}">{{f.startAirport.name}}</td>
    <td>{{f.startDate | date: 'd/M/yy, HH:mm'}}</td>
    <td [ngStyle]="f.endAirport.user.username == user? {'text-decoration': 'underline'}: {}">{{f.endAirport.name}}</td>
    <td>{{f.endDate | date: 'd/M/yy, HH:mm'}}</td>
    <td *ngIf="airlines |async as airline">{{airlineFinder(airline, f.airplane.user)}}</td>
  </tr>
  </tbody>
</table>
