<div class="container" *ngIf="details | async as det else addNew">
  <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-user"></i> Detale lotniska
      </div>
      <div class="card-block" style="padding: 24px;">
        <div class="container">
          <div class="row row-cols-2">
            <div class="col">Nazwa lotniska</div>
            <div class="col">{{det.name}}</div>
            <div class="col">Pojemność lotniska</div>
            <div class="col">{{det.capacity}}</div>
            <div class="col">Szerokość geograficzna</div>
            <div class="col">{{det.latitude}}</div>
            <div class="col">Długość geograficzna</div>
            <div class="col">{{det.longitude}}</div>
            <div class="col">Aktywny</div>
            <div class="col">{{det.active}}</div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-secondary style text-decoration-none" *ngIf="!det.active else editDisabled">
            <a [routerLink]="['/airports/edit', det.name]" style="text-decoration: none; color: white">Edytuj</a>
          </label>
          <ng-template #editDisabled>
            <label class="btn btn-secondary active">
              <a>Edytuj</a>
            </label>
          </ng-template>
          <label class="btn btn-secondary">
            <a [routerLink]="['/airports/delete', det.name]" style="text-decoration: none; color: white">Usuń</a>
          </label>
          <label class="btn btn-secondary">
            <a *ngIf="det.active" (click)="changeActiveStatus(det.name)">Dezaktywuj</a>
            <a *ngIf="!det.active" (click)="changeActiveStatus(det.name)">Aktywuj</a>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #addNew>
  <div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user">Nowy port lotniczy</i>
        </div>
        <form>
          <div class="form-group ml-3 mr-3">
            <label for="name">
              Nazwa
            </label>
            <input type="text"
                   class="form-control" id="name"
                   [(ngModel)]="newName" name="newName" >
          </div>

          <div class="form-group ml-3 mr-3">
            <label for="capacity">
              Ilość samolotów w jednym momencie
            </label>
            <input type="text"
                   class="form-control" id="capacity"
                   [(ngModel)]="capacity" name="capacity" >
          </div>
          <div class="form-group ml-3 mr-3">
            <label for="latitude">
              Szerokość geograficzna
            </label>
            <input type="text"
                   class="form-control" id="latitude"
                   [(ngModel)]="latitude" name="latitude" >
          </div>

          <div class="form-group ml-3 mr-3">
            <label for="longitude">
              Długość geograficzna
            </label>
            <input type="text"
                   class="form-control" id="longitude"
                   [(ngModel)]="longitude" name="longitude" >
          </div>


          <button type="submit" class="btn btn-primary ml-3 mb-3"
                  (click)="saveChanges()">
            Dodaj
          </button>
        </form>
      </div>
    </div>
  </div>

</ng-template>
