<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Start</th>
    <th scope="col"></th>
    <th scope="col">Koniec</th>
    <th scope="col"></th>
    <th scope="col">Samolot</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>AirportStart</td>
    <td>Data start</td>
    <td>AirportEnd</td>
    <td>Data end</td>
    <td>Nissan primera</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>AirportStart2</td>
    <td>Data start2</td>
    <td>AirportEnd2</td>
    <td>Data end2</td>
    <td>Samolot</td>
  </tr>
  </tbody>
</table>
