<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Start</th>
    <th scope="col"></th>
    <th scope="col">Koniec</th>
    <th scope="col"></th>
    <th scope="col">Samolot</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of flights | async; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{f.startAirport.name}}</td>
    <td>{{f.startDate | date: 'd/M/yy, HH:mm'}}</td>
    <td>{{f.endAirport.name}}</td>
    <td>{{f.endDate | date: 'd/M/yy, HH:mm'}}</td>
    <td>{{f.airplane.name}}</td>
    <td>
      <a *ngIf="dateCreator(f.startDate, f.endDate) == true"
        class="btn btn-danger" style="text-decoration: none; color: white" (click)="removeFlight(f.id)">Usuń</a>
    </td>
  </tr>
  </tbody>
</table>
