<div class="container">
  <!--*ngIf="details | async as det else brakLotniska"-->
  <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-user"></i> Detale lini lotniczej
      </div>
      <div class="card-block" style="padding: 24px;">
        <div class="container">
          <div class="row row-cols-2">
            <div class="col">Nazwa lini lotniczej</div>
            <div class="col">Linia lotnicza</div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-secondary style text-decoration-none">
            <a style="text-decoration: none; color: white">Edytuj</a>
          </label>
          <label class="btn btn-secondary">
            <a style="text-decoration: none; color: white">Usuń</a>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
